<h1>AJAX Atomics - 02</h1>

<script type="text/javascript" src="/global.js"></script>

<h2>What is the difference between this atomic and the first atomic?</h2>
<p>
  The pathing is slightly different, it seems. There are route handlers in the app.rb file. The first atomic path has text -- the other has an erb file that we redirect to.
</p>